<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>historiography</title>
    <link rel="icon" type="image" href="../../public/img/notebook.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="row display-flex justify-content-center align-items-center mt-4"> 
        <a href="/about" class="m-2">about</a>
        <a href ="/" class="m-2"><h1>historiography</h1></a>
        {{#if loggedIn}}
         <a href="" id="logout-button" class="m-2">log out</a>
        {{else}}
        <a href="/" class="m-2">log in</a>
        {{/if}}
    </nav>
    {{{ body }}} 



{{#if loggedIn}}  
<script src="js/logout.js"></script>
{{/if}}
</body>
</html>