

<div class="text-center mt-4 about">
    <p class="md-lg">about the app</p>
    <p class="container w-50 medium-text">historiography is a note taker and organizer that allows historians to quickly review historiographical information and easily keep track of the books they have read.</p>
</div>