{{#if loggedIn}}
<div>{{userIn}} is currently logged in!</div>
{{else}}
<div>{{userIn}} is not currently logged in</div>
{{/if}}

<div class="text-center">
    historiography is a note taker and organizer that allows historians to quickly review historiographical information and easily keep track of the books they have read. 
</div>