

<div class="text-center mt-4 jumbotron">
    <p class="font-weight-bold">about the app</p>
    <p class="lead container">historiography is a note taker and organizer that allows historians to quickly review historiographical information and easily keep track of the books they have read.</p>
</div>