{{#if loggedIn}}
<div>welcome back, {{userIn}}!</div>
{{else}}
<div>{{userIn}} is not currently logged in</div>
{{/if}}

{{!-- home menu for historiography --}}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/home">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/home">favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/trash">trash</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-secondary nav-link active">add new</button>
      </li>
    </ul>
  </div>
</div>


<div class="row">
    {{!-- below is the column for the books --}}
    <div class="flex-column">
        <div class="card select-book" style="width: 18rem;">
        {{!-- {{#each bookNotes as |book|}} --}}
        <div class="card-body">
            <h5 class="card-title">Book title</h5>
            <p class="card-text">{{bookObject}}</p>
        </div>
        {{!-- {{/each}} --}}
        </div>

        <div class="card" style="width: 18rem;">
        {{!-- {{#each bookNotes as |book|}} --}}
        <div class="card-body select-book">
            <h5 class="card-title">Book title</h5>
            <p class="card-text">Some quick example text to build on the book's title and make up the bulk of the book's content.Some quick example text to build on the book's title and make up the bulk of the book's content.</p>
        </div>
        {{!-- {{/each}} --}}
        </div>
    </div>

{{!-- full note view --}}
<div class="col flex-grow-1">
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <h2>Title of the book</h2>
      <h3>author's name</h3></a>
    {{!-- dropdown menu for full note view --}}
        <ul class="nav nav-pills">    
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#one">keywords</a>
                <a class="dropdown-item" href="#two">methods and sources</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#three">significance and critique</a>
            </div>
            </li>
        </ul>
    </nav>

    <div style="overflow-y:scroll;" class="col">
        <h4 id="fat">argument</h4>
        <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
        </p>
        <h4 id="mdo">examples</h4>
        <p>
            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
        </p>
        <h4 id="one">keywords</h4>
        <p>
        Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
        </p>
        <h4 id="two">methods and sources</h4>
        <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
        <h4 id="three">significance</h4>
        <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat. Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat</p>
    </div>
</div>
        {{!-- below is the container for the new note/notes --}}
</div>


