{{!-- don't forget that this login page is the landing page so it's localhost:3001 --}}
<div id="root">
    Steph is testing out her main.handlebars route! Does my page appear?
</div>












<script src="js/login.js"></script>