{{! don't forget that this login page is the landing page so it's localhost:3001 }}
<div class="container">
    <h2>login</h2>
    <form>
        <div class="form-group row col-sm-6">
            <label>username</label>
            <input placeholder="username" class="form-control" id="existing-username"></input>
        </div>
        <div class="form-group row col-sm-6">
            <label>password</label>
            <input placeholder="password" class="form-control" id="existing-password"></input>
        </div>
    </form>
    <button class="btn btn-outline-dark" id="login-button">login</button>

    <h3>new user?</h3>
    <a href="/signup"><button class="btn btn-outline-dark" id="signup-button">sign up</button></a>
</div>

<script src="js/login.js"></script>