<div class="container">
    <h2>signup</h2>
    <form>
        <div class="form-group row col-sm-6">
            <label>username</label>
            <input placeholder="username" class="form-control" id="new-username"></input>
        </div>
        <div class="form-group row col-sm-6">
            <label>password</label>
            <input placeholder="password" class="form-control" id="new-password"></input>
        </div>
        <div class="form-group row col-sm-6">
            <label>re-enter password</label>
            <input placeholder="password" class="form-control" id="new-password-again"></input>
        </div>
    </form>
    <button type="button" class="btn btn-outline-dark" id="signup-button">submit</button>
</div>

<script src="js/signup.js"></script>