<div class="container login-signup">
    <h2>signup</h2>
    <form>
        <div class="form-group row input-box">
            <label>username</label>
            <input placeholder="username" class="form-control" id="new-username"></input>
        </div>

        <div class="form-group row col mt-4 input-box">
            <label>password</label>
            <div class="input-group input-box">
            <div class="input-group-prepend">
                <span id="basic-addon2"><i class="fas fa-lock"></i></span>
            </div>
            <input name="password" type="password" value="" class="input form-control pass-input" id="new-password" placeholder="password" required="true" aria-label="password" aria-describedby="basic-addon2"/>

            <div class="input-group-append">
            <span onclick="password_show_hide();">
                <i class="fas fa-eye show_eye" id=""></i>
                <i class="fas fa-eye-slash d-none hide_eye" id=""></i>
            </span>
             </div>
             </div>
        </div>

        <div class="form-group row col mt-4 input-box">
            <label>re-enter password</label>
            <div class="input-group mb-2 input-box">
            <div class="input-group-prepend">
                <span id="basic-addon3"><i class="fas fa-lock"></i></span>
            </div>
            <input name="re-enter-password" type="password" value="" class="input form-control pass-input mb-3" id="new-password-again" placeholder="re-enter password" required="true" aria-label="password" aria-describedby="basic-addon3"/>
            
            <div class="input-group-append">
            <span onclick="password_show_hide();">
                <i class="fas fa-eye show_eye" id=""></i>
                <i class="fas fa-eye-slash d-none hide_eye" id=""></i>
            </span>
             </div>
             </div>
        </div>
    </form>

    <button type="button" class="btn log-btn" id="signup-button">submit</button>
</div>



{{!-- <div class="container">
    <h2>signup</h2>
    <form>
        <div class="form-group row col-sm-6">
            <label>username</label>
            <input placeholder="username" class="form-control" id="new-username"></input>
        </div>
        <div class="form-group row col-sm-6">
            <label>password</label>
            <input placeholder="password" class="form-control" id="new-password"></input>
        </div>
        <div class="form-group row col-sm-6">
            <label>re-enter password</label>
            <input placeholder="password" class="form-control" id="new-password-again"></input>
        </div>
    </form>
    <button type="button" class="btn btn-outline-dark" id="signup-button">submit</button>
</div> --}}


<script src="js/signup.js"></script>