/* font-family: 'Buenard', serif;
font-family: 'Judson', serif;
font-family: 'Sacramento', cursive; */

* {

    /* font-family: 'Judson', serif; */
    font-family: 'Buenard', serif;
    font-size: 17px;
}

a:hover {
    text-decoration: none;
    color: black;
}

/* this gets rid of the blue behind the dropdown text on click */
.dropdown-item:active {
    background-color: white;
    color: black;
}

h1 {
    /* font-family: 'Sacramento', cursive; */
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

/* new note text */
p {
    font-size: 16px;
}

/* colors */
.large-text {
    color: black;
    text-shadow: 1px 1px 2px gray;
}

.large-text:hover {
    color: #520e0e;
}

.small-text {
    font-size: 18px;
}

.medium-text {
    font-size: 20px;
    color: #0b0b0b;
    outline: none;
    /* text-shadow: 2px 2px 5px #f5efef; */
}

.md-lg {
    font-size: 24px;
    /* color: black; */
}

.link-text:hover {
    color: #520e0e;
}

/* main */
.hist-nav {
    background-color: #f5efef;
    height: 150px;
}



.navbar {
    background-color: #fafafa;
}

/* user homepage */
.select-book {
    background-color: rgb(235, 239, 244);
    
}

.select-book:hover {
    background-color: #fafafa;
}

/* all nav bar buttons on home page */
a.btn.nav-link.active {
    box-shadow: 0px 0px 2px gray;
    background-color: #fefcfc; 
    font-size: 20px;
}

a.btn.nav-link.active:hover {
    background-color: #f5efef; 
}

.red-btn {
    background-color: #fff9f9;
    color: black;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 1px rgb(203, 200, 200);
}

.red-btn:hover {
    background-color: #f5efef;
    color: black;
}

.note-box-container {
    width: 273px;
    background-color: rgb(244, 246, 249);
    height: 100vh;
}

/* nav bar homepage buttons */
.card-header {
    padding-top: 0;
}


/* buttons */
#signup-button {
    color: #2963DF;
}

#signup-button:hover {
    color: #520e0e;
}

.log-btn {
    background-color: #f5efef;
    box-shadow: 1px 1px 1px rgb(203, 200, 200);
}

.log-btn:hover {
    box-shadow: 0px 0px 1px gray;
    background-color: #f2ecec;
}


/* add new note button */
.getId {
    display: none;
}

.getId.active {
    display: flex;
    flex-direction: column;

}

.display-note-container {
    height: 100vh;
}

.display-note-container.active {
    display: none;
}
    
/* .edit-note-box {
    display: none;
}

.edit-note-box.active {
    display: flex; 
    flex-direction: column;
} 

.edit-text {
    font-size: 20px;
    font-weight: bold;
} */

/* .navbar {
    height: 150px;
} */

#save-note {
    margin-bottom: 25px;
}

/* about page */



/* .background-image {
    width: 500px;
    opacity: 20%;
    position: absolute;
} */

/* login and signup */
.login-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
    margin-top: 100px;
}

.input-box {
    width: 100;
    padding: 0;
    margin: 0;
}


/* adjust the password inputs border radius, which does not respond to class for some reason... */
#existing-password {
    border-radius: 5px;
}

#new-password {
    border-radius: 5px;
}

#new-password-again {
    border-radius: 5px;
}

.about {
    padding-top: 100px;
}