/* font-family: 'Buenard', serif;
font-family: 'Judson', serif;
font-family: 'Sacramento', cursive; */

* {

    /* font-family: 'Judson', serif; */
    font-family: 'Buenard', serif;
    font-size: 17px;
}

a:hover {
    text-decoration: none;
}


h1 {
    /* font-family: 'Sacramento', cursive; */
    font-size: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

/* new note text */
p {
    font-size: 16px;
}

/* colors */
.h-text {
    color: black;
    text-shadow: 1px 1px 2px gray;
}


/* main */
.hist-nav {
    background-color: #f5efef;
    height: 150px;
}

.navbar {
    background-color: #fafafa;
}

/* user homepage */
.select-book {
    background-color: rgb(235, 239, 244);
}

.select-book:hover {
    background-color: rgb(244, 248, 249);
}

/* all nav bar buttons on home page */
a.btn.nav-link.active:hover {
    background-color: rgb(219, 236, 250); 
}

.note-box-container {
    width: 273px;
    background-color: rgb(244, 246, 249);
    height: 100vh;
}



/* add new note button */
.getId {
    display: none;
}

.getId.active {
    display: flex;
    flex-direction: column;

}

.display-note-container {
    height: 100vh;
}

.display-note-container.active {
    display: none;
}
    
/* .edit-note-box {
    display: none;
}

.edit-note-box.active {
    display: flex; 
    flex-direction: column;
} 

.edit-text {
    font-size: 20px;
    font-weight: bold;
} */

/* .navbar {
    height: 150px;
} */

#save-note {
    margin-bottom: 25px;
}

/* about page */
.jumbotron {
   padding: 70px 0;
}


/* .background-image {
    width: 500px;
    opacity: 20%;
    position: absolute;
} */

/* login and signup */
.login-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
    margin-top: 100px;
}

.input-box {
    width: 100;
    padding: 0;
    margin: 0;
}


/* adjust the password inputs border radius, which does not respond to class for some reason... */
#existing-password {
    border-radius: 5px;
}